*{
    padding: 0;
    margin: 0;
}

.books_list{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 20px;
}

/* .book_element{
    background-color:white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 210px;
    display: block;
    height: 50vh;
} */

.book_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px auto;
    width:130px;
    height:180px;
    background-image: center;
    object-fit: contain;
}

.book_line{
    max-width: 150px;
    font-size: 0.8em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.title_app{
    text-align: center;
    font-size: 2rem;
}

#add_new_book{
    position: absolute;
    right:10px;
    top:10px;
}

.add_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:15px;
    text-align: center;
}

#close_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#close_icon:hover{
    cursor: pointer;
}

.book_form{
    display: flex;
    flex-direction: column;
    width:auto;
    border: 1px solid black;
    padding: 20px 25px;
    text-align: left;
}

.label_field_add_form{
    display: block;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.input_add_form{
    margin-top: 3px;
}

.add_button{
    display: block;
    width: 100px;
    height: 30px;
    margin: 25px auto 0;
    background-color: chartreuse;
}

.delete_edit_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#delete_icon{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0px;
}

#delete_icon:hover{
    cursor: pointer;
}

#edit_icon{
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0px;
}

#edit_icon{
    cursor:pointer;
}

.change_book_form{
    display: block;
    width:200px;
    height: 250px;
}

.action_button{
    width: 100px;
    height: 25px;
    margin: 5px;
}

.save_btn{
    background-color: chartreuse;
}

.cancel_btn{
    background-color: firebrick;
}

.main_page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.control_panel{
    width: 10%;
    padding: 10px;
}

.panel_part{
    margin: 30px 0px;
}

.title{
    font-size: 0.6cm;
    margin-top: 15px;
}

.image_text_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 5px 0px; */
}

.panel_icon{
    width: 30px;
    height: 30px;
}

.grey_square{
    width: 20px;
    height: 20px;
    background-color: rgba(130, 130, 130, 0.3);
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
}

.option_icon{
    object-fit: contain;
    width: 20px;
    height: 20px;
}

.main_icon{
    background-image: url('./images/icons/icon_home_main_black.svg');
    background-size: cover;
}

.list_icon{
    background-image: url('./images/icons/file-list-3-line_black.svg');
    background-size: cover;
}

.library_icon{
    background-image: url('./images/icons/book-open-line_black.svg');
    background-size: cover;
}

.download_icon{
    background-image: url('./images/icons/file-download-line_black.svg');
    background-size: cover;
}

.audio_icon{
    background-image: url('./images/icons/speak-line_black.svg');
    background-size: cover;
}

.favourite_icon{
    background-image: url('./images/icons/heart-line_black.svg');
    background-size: cover;
}

.setting_icon{
    background-image: url('./images/icons/settings-2-line_black.svg');
    background-size: cover;
}

.support_icon{
    background-image: url('./images/icons/wechat-line_black.svg');
    background-size: cover;
}

.logout_icon{
    background-image: url('./images/icons/wechat-line_black.svg');
    background-size: cover;
}

.chapter{
    margin: 20px 0px;
}   

.chapter:hover{
   .main_icon{
    background-image: url('./images/icons/icon_home_main_white.svg');
   } 
   .list_icon{
    background-image: url('./images/icons/file-list-3-line_white.svg');
   }
   .library_icon{
    background-image: url('./images/icons/book-open-line_white.svg');
   }
   .download_icon{
    background-image: url('./images/icons/file-download-line_white.svg');
   }
   .audio_icon{
    background-image: url('./images/icons/speak-line_white.svg');
   }
   .favourite_icon{
    background-image: url('./images/icons/heart-line_white.svg');
   }
   .setting_icon{
    background-image: url('./images/icons/settings-2-line_white.svg');
   }
   .support_icon{
    background-image: url('./images/icons/wechat-line_white.svg');
   }
   .logout_icon{
    background-image: url('./images/icons/wechat-line_white.svg');
   }
   .grey_square{
    background-color: #339AF0;
   }
    font-weight: bold;
};

#line_divide_blockes{
    width:50px;
    margin-left: auto;
}

.main_panel{
    background-color: rgb(219, 227, 246);
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search_panel{
    height: 10%;
    background: #e3e3e3;
    background: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(255, 255, 255, 1) 2%);
    /* background: linear-gradient(to right, #EBEBEB 1%, white 90%); */
    display:flex;
    align-items: center;
    padding: 0px 30px;
}

#search_input{
    height: 35px;
    width: 40%;
    border: 0px;
    border-radius: 5px;
    background-color: #E8F0FC;
    background-image: url('./images/icons/search-line.svg');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center left;
    padding-left: 55px;
    background-position-x: 25px;
}

.info_panel{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 25px;
}

#notification_bell_img{
    background-image: url('./images/icons/notification-2-line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
}

#user_profile_photo_img{
    border-radius: 50%;
    width: 40px;
    height:40px;
}

.info_panel_part{
    margin: 0px 7px;
}

.user_info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_info_part{
    margin: 0px 3px;
}

.arrow_image{
    margin-left: 10px;
    width: 25px;
    height:25px;
}

.books_part{
    width: 60%;
    height: 45vh;
    margin: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.recommended{
    margin-bottom: 0px;
}

.all_categories{

}

.header{
    display: flex;
    flex-direction: row;
}

.see_all_btn{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:3px 7px;
    width: auto;
    height: 25px;
    background-color: #E8F0FC;
    border-radius: 5px;
}

#blue_arrow_see_all_btn{
    width: 25px;
    height: 25px;
}

#blue_folder_all_categories_btn{
    width: 20px;
    height: 20px;
}

.book_element{
    position: relative;
    background-color: grey;
    height: 250px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    display: block;
    border-radius: 7px;
}

#book11{
    background-color: rgb(128, 172, 140);
}

#book12{
    background-color: rgb(250, 217, 4);
}

#book13{
    background-color: rgb(202, 201, 201);
}

#book14{
    background-color: rgb(113, 86, 29);
}

.book_discribe{
    background-color: white;
    padding: 5px;
    position: absolute;
    width: 150px;
    left:0px;
    bottom: 0px;
    margin-top: 15;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border:1px solid black;
}

.list_categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 101%;
    margin: 25px 0px;
}

.btn_category{
    padding: 2px 15px;
    background-color: rgba(130, 130, 130, 0.3);
    color:black;
    border: 0px;
    border-radius: 5px;
}

.btn_category:hover{
    background-color: #339AF0;
    color: white;
}

.small_books_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 101.5%;
}

.small_book_element{
    width: 100px;
    height: 120px;
}

.small_book_image{
    width: 95px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px;
}

.small_book_discribe{
    max-width: 80px;
}

.small_book_line{
    max-width: 80px;
    font-size: 0.7em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}